.content {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 160px;
}

.passage {
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
  text-align: left;
}

.passage span {
  cursor: pointer;
}

.blackedOut {
  background-color: #505050;
  color: #505050;
}